#actionBar {
    width: 25%;
    background-color: #ddd;
}

#actionProgressBar {
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}
